
.text-list {
  margin-left: 33px;
  margin-top: 20px;
}
.text-list  h2{
  color: #1f1d1d;
}

.category-list {
  margin-bottom: 20px;
}

.category-list h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
